{% extends 'layout.html' %}
{% block content %}
	<h1>About Us</h1>
	<p style="font-size: 25px;">
		I love coding. And I love books.
	</p>
	<p style="font-size: 25px;">
		A heady combination that led me here; a place to bring together booklovers interested in trading books.
	</p>

	<p style="font-size: 25px;">
		Feel free to contact me to sell your used books on our website. I would also like your valuable feedback:
		<p style="font-size: 25px;">
			<a href="https://mail.google.com/mail/u/0/#inbox?compose=new">sparkbooks735@gmail.com</a>
		</p>
	</p>
{% endblock content %}