{% extends 'layout.html' %}
{% block content %}
	{% for book in books.items %}
		<div class = "media">
			<div class = "media-left">
				<a href="{{ url_for('books.display_single_book', book_id = book.id) }}"><img class = "book-cover" src="{{ url_for('static', filename = 'pictures/' + book.cover) }}"></a>
			</div>
			<div class = "media-body">
				<a href="{{ url_for('books.display_single_book', book_id = book.id) }}"><h2>{{ book.name }}</h2></a>
				<br>
				<h4><a href="{{ url_for('books.display_books', data = book.author) }}"><small>{{ book.author }}</small></a></h4>
				<br>
				<h4>₹{{ book.price }}.00</h4>
				<br>
			</div>
		</div>
		<div class = "page-header"></div>
	{% endfor %}
	{% for page_num in books.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
		{% if page_num %}
			{% if books.page == page_num %}
				<a class = 'btn btn-dark mb-4' href="{{ url_for('books.display_all_books', page = page_num) }}">{{ page_num }}</a>
			{% else %}
				<a class = 'btn btn-info mb-4' href="{{ url_for('books.display_all_books', page = page_num) }}">{{ page_num }}</a>
			{% endif %}
		{% else %}
			...
		{% endif %}
	{% endfor %}
	<br><br><br>
{% endblock content %}